body {
  background-color: #f7f7f7 !important;
}

.menu-header-container {
  padding: 40px;
}

.go-back-button {
  color: var(--orange);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.go-back-button:hover {
  background-color: var(--light-grey);
}

.menu-head {
  color: var(--black) !important;
}

.menu-container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  gap: 40px;
  padding: 40px;
}

.menu-filter-customize-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-category-content-conatiner {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.menu-category {
  color: #9e9e9e;
  padding: 8px 0;
  border-right: 3px solid transparent;
  cursor: pointer;
}

.menu-category.selected {
  border-right: 3px solid var(--orange);
  color: var(--orange);
  /* background-image: linear-gradient(
    90deg,
    transparent,
    #ffd59136,
    var(--light-orange)
  ); */
}

.menu-section-header {
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: solid 2px #e7e7e7;
}

.menu-content-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.menu-item-details-box.single-size {
  grid-column: auto / span 2;
}

.menu-item-details-box.couple-size {
  grid-column: auto / span 3;
}

.menu-item-details-box.quarters-size {
  grid-column: auto / span 4;
}

.menu-item-details-box.full-size {
  grid-column: auto / span 6;
}

.menu-item-details-box-base {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  /* border: solid 1px #e7e7e7; */
}

.menu-item-details-box.single-size .menu-item-details-box-base {
  padding: 10px 10px;
}

.menu-item-details-box.couple-size .menu-item-details-box-base {
  padding: 15px;
}

.menu-item-details-box.quarters-size .menu-item-details-box-base {
  padding: 15px;
}

.menu-item-details-container {
  display: flex;
  justify-content: space-between;
}

.menu-item-details-box.single-size .menu-item-details-container {
  flex-direction: column;
  gap: 10px;
}

.menu-item-details-box.couple-size .menu-item-details-container {
  flex-direction: column;
  gap: 10px;
}

.menu-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.menu-item-details-part-a {
  margin-bottom: 20px;
}

.menu-item-img {
  width: 270px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.menu-item-details-box.single-size .menu-item-img {
  width: 100%;
}

.menu-item-details-box.couple-size .menu-item-img {
  width: 100%;
  height: 220px;
}

.menu-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.menu-item-details-name {
  font-family: Bitter;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-item-details-box.single-size .menu-item-details-name {
  justify-content: space-between;
  padding-right: 20px;
}

.menu-item-details-category-icon {
  height: 20px;
}

.menu-item-detail-description {
  font-size: 0.9rem;
  color: var(--orange2-darker);
}

.menu-item-details-more-link a {
  color: var(--off-white);
  font-size: 0.9rem;
}

.menu-item-price {
  background-color: #e7e7e7;
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
  padding: 3px 8px;
  font-size: 0.9rem;
  border-radius: 3px;
}

.menu-item-price:hover {
  background-color: #eb9a05;
}
/* 
.menu-item-details-and-user-select-seperator {
  background-color: #e7e7e7;
  height: 1px;
  width: 100;
  border-radius: 10px;
  margin: 20px 5px 10px 5px;
} */

.menu-item-user-select-wrapper {
  padding: 0 10px;
}

.menu-item-user-selected {
  background-color: var(--orange);
  padding: 3px 3px;
  padding-left: 8px;
  font-size: 0.9rem;
  border-radius: 3px;
  margin-left: 5px;
  /* margin-bottom: 8px; */
  display: inline-block;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.menu-item-user-remove-btn {
  height: 20px;
  width: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange2);
}

.menu-item-user-remove-btn:hover {
  background-color: #eb9a05;
}

@media screen and (max-width: 1200px) {
  .menu-container {
    grid-template-columns: 140px 1fr 140px;
    padding: 20px;
    gap: 10px;
  }

  .menu-category {
    padding: 5px 0;
    font-size: 0.8rem;
  }

  .menu-item-details-box-base {
    padding: 10px 20px;
  }

  .menu-content-item-wrapper {
    gap: 10px;
  }

  .menu-item-img {
    width: 250px;
    height: 140px;
  }

  .menu-item-details-name {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .menu-item-detail-description {
    font-size: 0.8rem;
  }

  .menu-item-details-more-link {
    font-size: 0.8rem;
  }

  .menu-item-price {
    font-size: 0.8rem;
    margin-right: 3px;
    margin-bottom: 5px;
  }

  .menu-item-user-select-wrapper {
    padding: 0;
  }

  .menu-item-user-selected {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 900px) {
  .menu-container {
    grid-template-columns: 1fr;
    padding: 30px 10px;
  }

  .menu-filter-customize-container {
    display: none;
  }

  .menu-item-details-category-icon {
    height: 14px;
  }

  .menu-item-details-container {
    gap: 10px;
  }

  .menu-item-details-box-base,
  .menu-item-details-box.single-size .menu-item-details-box-base,
  .menu-item-details-box.couple-size .menu-item-details-box-base,
  .menu-item-details-box.quarters-size .menu-item-details-box-base {
    padding: 8px;
  }
}

@media screen and (max-width: 620px) {
  .menu-item-details-box.single-size {
    grid-column: auto / span 3;
  }

  .menu-item-details-box.quarters-size {
    grid-column: auto / span 6;
  }

  .menu-item-img {
    width: 220px;
    height: 120px;
  }

  .menu-item-details-box.couple-size .menu-item-img {
    height: 120px;
  }
}

@media screen and (max-width: 460px) {
  .menu-item-details-container {
    flex-direction: column-reverse;
  }

  .menu-item-details-box.quarters-size {
    grid-column: auto / span 3;
  }

  .menu-item-details-box.full-size {
    grid-column: auto / span 3;
  }

  .menu-item-img {
    width: 100%;
  }
}
